﻿
@{
    ViewBag.Title = "Index";
}
<div id="input_comment">
    <form id="input_fields">
        <p>Name: <input id="username" type="text" placeholder="Enter Username" required /></p>
        <p>Commentary: <textarea id="content" required>Enter Your Commentary Here</textarea></p>
        <input id="submit_button" type="submit" value="Submit" />
    </form>
</div>
<div id="output_comments"></div>

