﻿
@{
    ViewBag.Title = "Questionnaire";
}

@helper MultipleAnswerHelper(string[] words, string questionType)
{
        <ol>
            @foreach(string word in words)
            {
                <li>
                    <input name ="mult" type=@questionType id="@word"/>
                    <label for="@word">@word</label>
                </li>
            }
        </ol>
}

<div id="questions">
    <form>
        <div id="question_1">
            <p>What is your Name?</p>
            <input type="text" placeholder="Answer Question" required/>
        </div>
        <div id="question_2">
            <p>What did you like about this site</p>
            @MultipleAnswerHelper(new string[] {"Design", "Speed", "Quality of Information"}, "checkbox")
        </div>
        <div id="question_3">
            <p>Your mood after reading those articles</p>
            @MultipleAnswerHelper(new string[] { "Awfull", "Bad", "Neutrall", "Good", "Awesome"}, "radio")
        </div>
        <input type="submit" value="Submit"/>
    </form>
</div>

