﻿
@{
    ViewBag.Title = "Articles";
}
<div id="first_article">
    <h1>Неожиданности Хмельницкого: "ратуша" оказалась башней пожарного депо, а сам город — кофейной столицей </h1>
    <h2>08.04.2021</h2>
    <h3>Знаменитый рынок, кафе на каждом шагу и остров любви
    — чем привлекает гостей город Хмельницкий.</h3>
    <p>
        В Хмельницком, как и в большинстве украинских городов есть своя ратуша.
        Но эту башню так называют только туристы, а местные жители знают, что это — элемент пожарного депо, построенного в середине 1950-х годов.
        О том, какими еще неожиданностями удивляет город своих гостей, говорится в сюжете ТСН.19: 30.
        Как и во всех городах, в которых в рамках проекта "30 лет Независимости" уже побывала съемочная группа ТСН, в Хмельницком много приветливых людей.
        Улыбками здесь встречают везде.
        А майор в отставке и экскурсовод Игорь Байдак, который знакомил с городом,
        оказался еще и первый "поэтическим гидом", который о Хмельницком может рассказывать и в стихах, и в прозе.
        В городе также много детей — веселых, активных и спортивных. Для них здесь все — развлекательные площадки, велодорожки.
        Есть в городе и кукольный театр, и детский кинотеатр, и экспонаты, которыми можно управлять.
        В Хмельницком более 700 кофеен на 270 тысяч населения. Поэтому, по словам нашего гида,
        именно этот город нужно называть кофейной столицей страны.
        Неоспоримую славу Хмельницкому принес местный рынок, из-за которого город называют столицей торговли.
        Как и на любом рынке, здесь есть свои правила.
        В частности, на "свадебных" рядах свой товар продавцы тщательно оберегают от конкурентов, чтобы те не скопировали модели.
        Поэтому заглянуть в магазинчики разрешается только тем, кто похож на невесту или жениха. Фейс-контроль жесткий.
        В Хмельницком многое говорит о любви. Здесь даже есть "остров любви" — одно из любимых мест отдыха.
        Говорят, в этом городе также самое большое количество в Украине памятников Тарасу Шевченко и собственно Богдану Хмельницкому,
        а в музеях хранятся вещи, которые больше нигде не увидишь.
        Душа города живет в его двориках, на маленьких хозяйствах, которые здесь называют "господами".
        И у черного ореха — древнейшего в городе дерева, настоящего здешнего естественного аккумулятора энергии.
    </p>
</div>
<div id="second_article">
    <h1>Юбилей Обамы: первый темнокожий президент США отпраздновал 60-летие </h1>
    <h2>08.04.2021 20:48</h2>
    <h3>
        Барак Обама моложе обоих своих преемников,
        а действующий президент Соединенных Штатов Джо Байден был у него вице-президентом.
    </h3>
    <p>
        В среду, 4 августа, сорок четвёртому президенту США, лауреату Нобелевской премии Бараку Обаме исполнилось 60 лет.
        О том, чем запомнился американцам первый темнокожий президент и чем он занимается, покинув Белый дом, говорится в сюжете ТСН.19: 30.
        Громкую вечеринку по случаю юбилея Обамы на полтысячи гостей, которую готовили несколько месяцев,
        в последний момент пришлось отменить из-за нового штамма коронавируса "Дельта",
        который распространяется в Соединенных Штатах.
        Поэтому вместо компании с Джорджем Клуни и Стивеном Спилбергом Обаме пришлось ограничиться празднованием в тесном семейном кругу.
        По его собственному утверждению, Барак Обама обязан всему, чего достиг,
        своей жене Мишель. С ней он познакомился в Чикаго, когда пришел стажироваться в компании, где она уже работала.
        Родительской поддержки сын кенийца и белой американки, который родился на Гавайях, не ощущал никогда.
        Со своим отцом будущий президент Соединенных Штатов встретился лишь однажды, когда Бараку было 10 лет.
        О проблемах, которые были в супружеской жизни президентской четы, Мишель Обама рассказала через много лет в своей безумно популярной книге.
        Тогда мир узнал, что паре, которая на экранах выглядит самой счастливой в мире, пришлось работать с психологом, чтобы не расстаться.
        Кстати, Мишель не хотела, чтобы Барак баллотировался в президенты, но все же поддержала его.
        Первый темнокожий президент в истории Соединенных Штатов Барак Обама оставался в Белом доме два срока.
        За эти восемь лет выросли обе его дочери.
        Покинув Белый дом, Обама не только не потерял своей популярности, но и наоборот.
        За его лекции платят бешеные гонорары, его автобиография разошлась тиражом в почти два миллиона за первую же неделю.
        В одной из речей он так и сказал: "Я удивлен, что имею столько денег".
        Два года назад авторитетное издание Financial Times включило Обаму в перечень людей,
        которые определили, как будет выглядеть десятилетия.
    </p>
</div>
<div id="third_article">
    <h1>ВОЗ призывает временно отказаться от бустерных прививок против COVID-19</h1>
    <h2>08.04.2021 19:36</h2>
    <h3>
        По данным ВОЗ, соотношение вакцин к населению в бедных странах составляет 1,5 препарата на 100 человек.
    </h3>
    <p>
        Глава Всемирной организации здравоохранения Тедрос Гебреисус призвал установить мораторий бустерных доз вакцин против коронавируса до конца сентября текущего года.
        Это должно решить вопрос нехватки препаратов в странах с низким уровнем вакцинации.
        Об этом сообщает пресс-служба ВОЗ.
        "ВОЗ призывает к мораторию на бустерные прививки,
        по крайней мере до конца сентября", — заявил Гебреисус во время брифинга.
        По данным ВОЗ, соотношение вакцин к населению в бедных странах составляет 1,5 препарат на 100 человек.
        Также организации напомнила о том, что до конца сентября каждая страна мира должна привить не менее 10% своего населения.
    </p>
</div>

